.Card{
    border:1px solid black;
    position:absolute;
    width:25%;
    height:385px;
    top:50px;
    right:50px;
    background-color: white;
    padding: 10px;
    animation : fade 0.7s ease-in-out;
    overflow: scroll;
    padding:10px
    
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.image_product  img{

    width: 100px;
    height: 150px;
    
}

.product_card{
    display: flex;
    align-items: center;
    margin:10px
}


#btn-check{
    width: 100%;
    margin:10px;
    margin : 0 auto
}